<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pic.css"/>
    <title>Document</title>
</head>
<body>
    <div class="tutu-c">
        <div class="tutu-pic-c">
            <!-- 나 + 소개 -->
            <img src="img/youngmin.jpg" width="400" height="500"/>
            <p>이영민</p>
            <p>병신이다</p>
        </div>
    </div>
    <div class="tutu">
        <div class="fr-totu" onclick="gyeyoungdok()">
            <!-- 경둑 + 소개 -->
            <img src="img/gyungdok.jpg"/>
            <p>김도경</p>
            <p>병신이다</p>
        </div>
        <div class="fr-totu" onclick="jungyoung()">
            <!-- 준영 + 소개 -->
            <img src="picture"/>
            <p>서준영</p>
            <p>병신이다</p>
        </div>
        <div class="fr-totu" onclick="leesuckhyun()">
            <!-- 석현 + 소개 -->
            <img src="picture"/>
            <p>이석현</p>
            <p>병신이다</p>
        </div>
        <div class="fr-totu" onclick="dogun()">
            <!-- 도건 + 소개 -->
            <img src="picture"/>
            <p>김도건</p>
            <p>병신이다</p>
        </div>
    </div>
    <script src="js/index.js"/>
</body>
</html>